div,ul,li,ol,body,p,h1,h2,h3,h4,dl,dd,dt,a,img,em,span{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
ul,ol,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
html,body{
  font-family: 'abcd';
  color: #333333;
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;*/
}
img{
	display: inline-block;
}
.clearFix:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	zoom: 1;
}

